{% include sideNav.html %}
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
  	<i class="brand-logo center large material-icons">{{page.icon}}</i>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right">
    <li><a class="dropdown-button lang_button" href="#!" data-activates="lang_dropdown">{{layout.language}}</a></li>
    </ul>
  </div>
</nav>
<ul id="lang_dropdown" class="dropdown-content">
  <li><a>en</a></li>
  <li><a>pt-br</a></li>
</ul>