<ul id="slide-out" class="side-nav fixed">
  <li>
    {% if layout.nav_type == 'personal' %}
      <img class="nav_img" src="{{site.data.images.personal}}">
    {% else %}
      <img class="nav_img" src="{{site.data.images.professional}}">
    {% endif %}
  </li>
  <li class="nav_switch_holder">
    <div class="switch row nav_img_changer">
      <label>
        <div class="col s4 right-align">Personal</div>
        <div class="col s4">
        {% if layout.nav_type == 'personal' %}
          <input type="checkbox">
        {% else %}
          <input checked type="checkbox">
        {% endif %}
        <span class="lever"></span></div>
        <div class="col s4 left-align">Professional</div>
      </label>
    </div>
  </li>
  <li id="nav_buttons">
    {% assign sorted_pages = site.pages | where_exp:"item", "item.title" | group_by: 'layout' %}
    {% for l in sorted_pages %}
      {% assign items = l.items | sort: 'order' %}
      <ul id='nav_buttons_{{l.name}}'>
      {% for p in items %}
        {% if p.title %}
          <li>
            {% if page.url == p.url %}
            <a class="waves-effect waves-light btn nav_btn disabled {{p.btn_class}}" href="{{ p.url | prepend:site.baseurl }}"><i class="material-icons left">{{p.icon}}</i>{{p.title}}</a>
            {% else %}
            <a class="waves-effect waves-light btn nav_btn {{p.btn_class}}" href="{{ p.url | prepend:site.baseurl }}"><i class="material-icons left">{{p.icon}}</i>{{p.title}}</a>
            {% endif %}

          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}
  </li>
</ul>
<script src="/js/sideNav.js"></script>