<ul id="slide-out" class="side-nav fixed">
  <li>
    <img class="nav_img" src="/assets/nav/professional.jpg">
  </li>
  <li class="nav_switch_holder">
    <div class="switch row nav_img_changer">
      <label>
        <div class="col s4 right-align">Personal</div>
        <div class="col s4"><input checked type="checkbox"><span class="lever"></span></div>
        <div class="col s4 left-align">Professional</div>
      </label>
    </div>
  </li>
  <ul id='nav_buttons'>
  <li>
    <a class="waves-effect waves-light blue btn"><i class="material-icons left">person</i>About</a>
  </li>
  <li>
    <a class="waves-effect waves-light blue btn"><i class="material-icons left">mail</i>Contact</a>
  </li>
  </ul>
</ul>