header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav_switch_holder{
  text-align:center;
  .switch{
  }
}

.nav_img{
  width: 100%;
}

#nav_buttons{
  li{
    opacity: 0
  }
}

.nav_btn .disabled {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}