header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav_switch_holder{
  margin-top:-1em;
  text-align:center;
  .switch{
  }
}

.nav_img_hidden{
  display: none;
}

.nav_img, .nav_img_hidden {
  width: 100%;
}

.nav_img_changer {
  margin-bottom:0;
  label {
    font-weight:bold;
    color: white;
    .lever {
      background-color: $tertiary-color-light;
      &:after{
        background-color: $tertiary-color;
      }  
    }
  }
}

#nav_buttons {
  li{
    display: none;
    opacity: 0;
  }
}

#slide-out {
  background-color: black !important;
}

.nav_btn .disabled {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.btn_personal {
  &_pt-br, &_en {
    @extend .lime;
    @extend .accent-3;
    &:hover{
      @extend .accent-2;
    }
  }
}

/*NavBar Related*/
$nav-height: 35px;
nav {
  &.nav_personal, &.nav_professional {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  i{
    color: black !important;
  }
  &.nav_personal {
    background-color: $tertiary-color !important;
    #lang_dropdown li{
      a{
        background-color: $tertiary-color !important;
        color: black !important;
      }
    }
  }
  height: $nav-height;
  line-height: $nav-height;

  i, [class^="mdi-"], [class*="mdi-"], i.material-icons {
    height: $nav-height;
    line-height: $nav-height;
  }

  .button-collapse i {
    height: $nav-height;
    line-height: $nav-height;
  }

  .brand-logo { 
    font-size: 1.6rem; 
  }

  @media only screen and (min-width: 601px){
    height: $nav-height;
    line-height: $nav-height;
    .nav-wrapper i, a.button-collapse, a.button-collapse i {
      height: $nav-height;
      line-height: $nav-height;
    }
  }

  .lang_button {
    font-weight:bold;
    color: black;
  }

  #lang_dropdown li{
    min-height: $nav-height;
    a{
      font-weight:bold;
      height: $nav-height;
      line-height: 10px;
      padding-bottom: 10px;
      background-color: $secondary-color !important;
      color: black !important;
    }
  }
}

main, footer {
  display:none;
}