<div class="row">
  <div class="col s3">
    <div class="skate">
      <img class="skate__shape" src='/assets/welcome/skate/shape_small.png'>
      <a class="skate__wheel top-wheel" href="{{site.github}}" target="_blank">
        <img class="skate__wheel-piece" src='/assets/welcome/skate/octowheel_small.png'>
        <img class="skate__wheel-nut" src='/assets/welcome/skate/nut_small.png'>
      </a>

      <a class="skate__wheel bottom-wheel" href="{{site.linkedin}}" target="_blank">
        <img class="skate__wheel-piece" src='/assets/welcome/skate/inwheel_small.png'>
        <img class="skate__wheel-nut" src='/assets/welcome/skate/nut_small.png'>
      </a>
    </div>
  </div>

  <div class="col s9">
    <h5 class="name-waiting">Tiago Ruas da Gama Cerqueira</h5>
    <ul class="collection welcome-content z-depth-1">
      <li class="collection-item">
        <div class="line row">
          {% include pages/education_partial.html data=page.data.cs %}
          {% include pages/education_partial.html data=page.data.ee %}
        </div>
        <div class="award-line">
          <i class="material-icons">grade</i>
          <div class="text">{{page.data.cs_award}}</div>
        </div>
      </li>
      <li class="collection-item">
        <span class="title">
        <p>{{page.data.currently}} <a href="http://appprova.com.br" target="_blank">
          <img src="/assets/welcome/appprova_logo.png" alt="AppProva" width='50px;' style="padding-left:0.5em;"></a></p>
        </span>
      </li>
      <li class="collection-item">
        <p class="more">{{page.data.more}}</p>
      </li>
    </ul>
  </div>
</div>
<script src="/js/welcome.js"></script>
