<!DOCTYPE html>
<html>
<html lang="en">
  {% include head.html %}
  {% include scripts.html %}
  <body>
    <header>{% include header.html %}</header>
    <main>
    <div class="page-content">
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          {% if page.construction or layout.construction %}
            <div class="construction">
              <div class="element-animation row">
                <div class="col s12 center-align">
                  <i class="large material-icons">warning</i>
                </div>
                <div class="col s12 center-align">
                  <h5>Under Construction</h5>
                </div>
              </div>     
            </div>
          {% else %}
            {{ content }}
          {% endif %}
          <br><br>
        </div>
      </div>
    </div>
    </main>
    <!-- {% include footer.html %} -->
  </body>
</html>
