.input {
  width: 100%;
  margin-bottom: 10px;
}

.inputHolder {
  padding: 0 10px 10px 10px;
}

.form {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.sent {
  background-color: green !important;
  color: white !important;
}
