.image {
  max-height: 80px;
  margin-top: 30px;
}

.avatar {
  background-color: white;
}

.itemContent {
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  white-space: normal;
}

.itemTitle {
  color: rgb(33, 33, 33);
  font-size: 1em;
}

.itemSchool {
  color: rgb(117, 117, 117);
  font-size: 0.9em;
  padding-top: 3px;
}

.itemInfo {
  color: rgb(117, 117, 117);
  font-weight: 600;
  font-size: 0.8em;
}
